.hero {
	padding: 2rem;
	margin: 1.5rem 0;

	&__intro {
		font-size: 2.5rem;
		font-family: $font-secondary;
		text-align: center;
		color: $color-primary; 
		
	}
	
	&__name {
		font-size: 7rem;
		text-transform: uppercase;
		font-family: $font-primary; 
		-webkit-animation: bounceInLeft 1.3s  ease-in-out .4s;  
		animation: bounceInLeft 1.3s  ease-in-out .4s; 
		text-align: center;
		color: $color-primary; 
	}
	
	
	
	&__paragraph {
		font-size: 2rem;
		font-weight: 400;
		width: 70%;
		margin:  2.5rem auto;
		font-family: $font-primary; 
		text-align: center;
		color: #333; 
		
		&-link {
			text-decoration: none; 
			cursor: pointer; 
		
		}
	}

	&__buttons {
		display: flex; 
		justify-content: center;
	}
}


.btn {
	cursor: pointer;
    font-weight: 700;
    font-family: $font-secondary;
    font-size: 1.1em; 
	padding: 1.2rem 2rem;
	display: inline-block;
	width: 25%;  
	text-align: center; 
	color: $color-primary; 
	border-radius: 3rem;
	box-shadow: 0 1rem 1.5rem rgba(68, 74, 81, 0.4);
	transform: scale(1);
	margin: 2rem 4rem;
	transition: all 0.3s;
	text-transform: lowercase;
	outline: none;
	border: none;

	&:hover {
		border: none;
		transform: scale(1.15); 
	}
}



.hero__image {
	height: 40vw;
	margin: 2rem auto; 
	padding: 1rem; 
	width: 100%;
}

/** UTILITY CLASSES */
.u-text {
	border-bottom: 1.5px dashed $color-primary;
	transition: all .3s; 
	
	&:hover {
		border-bottom: 1.5px solid $color-primary; 
	}
	
}