/*
MEDIA QUERIES  
Deskop ==> Viewport width > 700px; 
Tablet ==> Viewport width > 500px - 700px; 
Mobile ==> Viewport width <= 500px; 

*/

// TABLET DEVICES
@media only screen and (max-width: 47.75em) {
	.hero {
		&__buttons {
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}

		&__btn {
			width: 68%;
			margin: 2rem auto;
		}
	}

	.nav {
		
		position: relative;
		display: block;

		&__list {
			position: fixed;
			flex-direction: column;
			height: 100vh;
			width: 100%;
			background: #5b78c7;
			flex-direction: column;
			/* display: none;  */
			clip-path: circle(100px at 90% -55%);
			-webkit-clip-path: circle(100px at 90% -55%);
			transition: all 1s ease-out;
			pointer-events: none;

			&.open {
				clip-path: circle(1000px at 90% -15%);
				-webkit-clip-path: circle(1000px at 90% -15%);
				pointer-events: all;
			}
		}

		&__item:nth-child(1) {
			transition: all .5s ease 0.2s;
		}
	
		&__item:nth-child(2) {
			transition: all .5s ease 0.4s;
		}
	
		&__item:nth-child(3) {
			transition: all .5s ease 0.6s;
	
		}
		&__item:nth-child(4) {
			transition: all .5s ease 0.8s;
	
		}
	
		&__item.fade {
			opacity: 1; 
		}
	}

	body.scroll {
		overflow-y: hidden;
		transition: all .1s;
	}

	.line {
		width: 30px;
		height: 3px;
		margin: 5px;
		background: $white;
	}

	.hamburger {
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 2;
	}
}

// MOBILE DEVICES

@media only screen and (max-width: 31.25em) {
	html {
		font-size: 50%;
	}

	.nav {
		flex-direction: column;
		&__item {
			margin: 1rem 0;
		}
	}

	.hero {
		&__paragraph {
			width: 100%;
		}

		&__buttons {
			flex-direction: column;
			justify-content: center;
		}

		&__btn {
			width: 70%;
		}

		&__image {
			height: 100%;
			margin: 2.5rem auto 0 auto;
			padding: 1rem;
		}
	}

	.skills {
		margin-top: -2rem;
		&__title {
			width: 100%;
		}

		&__paragraph {
			width: 100%;
		}

		&__wave {
			height: auto;
		}
	}

	.about__info {
		width: 100%;
	}

	form {
		width: 90%;
	}

	.footer__item {
		padding: 1rem;
	}
}
