/*
MEDIA QUERIES  
Deskop ==> Viewport width > 700px; 
Tablet ==> Viewport width > 500px - 700px; 
Mobile ==> Viewport width <= 500px; 

*/

// TABLET DEVICES
@media only screen and (max-width: 47.75em) {
	.header {
		&-nav {
			&__bar {
				// align-items: unset; 
			}
			&__list {
				display: none;
			}
		}

		/*Show */

		& ul.show {
			position: fixed;
			background-color: #fff;
			top: 8vh;
			left: 0;
			height: 100vh;
			width: 100%;
			margin-top: -8vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		& ul.show li {
			margin: 1rem 0;
		}

		/* Hamburger menu */
		&__hamburger {
			&-icon {
				width: 10rem;
				height: 3rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;
				cursor: pointer;
			}
			&-line-1,
			&-line-2,
			&-line-3 {
				background-color: $color-primary;
				width: 3rem;
				height: 0.2rem;
				transition: all 0.2s ease-in-out;
			}

			&-line-1,
			&-line-2 {
				margin-bottom: 0.8rem;
			}
		}
	}
	.hero {
		&__buttons {
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}

		&__btn {
			width: 68%;
			margin: 2rem auto;
		}
	}

	/* Show class to change the state of hambuger icon cross*/
	.show .header__hamburger-line-1 {
		transform: translateY(1rem) rotate(135deg);
	}

	.show .header__hamburger-line-2 {
		opacity: 0;
	}

	.show .header__hamburger-line-3 {
		transform: translateY(-7.6px) rotate(-135deg);
	}
}

// MOBILE DEVICES

@media only screen and (max-width: 31.25em) {
	html {
		font-size: 50%;
	}

	.hero {
		&__paragraph {
			width: 100%;
		}

		&__buttons {
			flex-direction: column;
			justify-content: center;
		}

		&__btn {
			width: 70%;
		}

		&__image {
			height: 100%;
			margin: 2.5rem auto 0 auto;
			padding: 1rem;
		}
	}

	.skills {
		margin-top: -2rem;
		&__title {
			width: 100%;
		}

		&__paragraph {
			width: 100%;
		}

		&__wave {
			height: auto;
		}
	}

	.about__info {
		width: 100%;
	}

	form {
		width: 90%;
	}

	.footer__item {
		padding: 1rem;
	}
}
