/*
* ICONS
*/

/*  CSS for Navbar */

/* WIP: rename according to BEM */

/* todo: change px to rem */

.header {
	&__container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 1.5rem;
	}

	&-nav {
		&__heading {
			font-family: $font-secondary; 
			font-size: 4rem;
			font-weight: 700; 
			color: $color-primary; 
		}
		&__bar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 10vh;
		}
		&__list {
			display: flex;
		}

		&__item {
			padding: 0 1.5rem;
			list-style: none;
		}

		&__link {
			font-size: 2rem;
			text-decoration: none;
			color: $gray; 
		}

		&__active {
			color: $color-primary; 
		}

		&__logo {
			// width: 80px;
			// position: relative;
			// z-index: 10;
		}
	}

	&__btn {
		text-decoration: none; 
	}

	&__btn-custom {
		padding: 1rem 3rem;
		width: 30%;
		height: 40%;
		border-radius: .4rem;
		background: $color-primary;
		color: #fff;

		&:hover {
			background: rgba($color-primary, .7);
		}
	}
}

/**Hamburger ICON **/

/*
* ICONS
*/

.fa-3x {
	transition: all 0.2s;
}

.fa-facebook-square {
	color: #1877f2;
}
.fa-twitter-square {
	color: #1da1f2;
}
.fa-whatsapp-square {
	color: #25d366;
}
.fa-github-square {
	color: #7c7070;
}

.fa-heart {
	color: $red;
	-webkit-animation: pulse 0.4s infinite;
	animation: pulse 0.4s infinite;
}
