html {
  scroll-behavior: smooth;
}
// Scrollbar for Chrome, Edge and Safari
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: var(--color-primary); /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background: var(--color-secondary); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--color-primary-1); /* creates padding around scroll thumb */
}

// for Firefox
body {
  scrollbar-width: thin; /* "auto" or "thin"  */
  scrollbar-color: var(--color-secondary) var(--color-primary); /* scroll thumb & track */
}
